.table
{
    display: flex;
    width: 100%;
    height: 750px;
    gap: 10px;
    
}
.tabletop
{
    display: flex;
    flex-direction: column;
    margin: 5px;
    gap: 10px;
    overflow: visible;
       
}


.col1,.col2,.col3,.c_1
{
    flex:1;
    justify-content: center;
    justify-items: center;
    height: 100%;
    gap: 10px;
}

.col2
{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    justify-items: center;
    gap: 10px;
}
.row1,.row2,.row3,.row5
{
    flex: 1;
    gap: 10px;
    justify-items: center;
}

.row3{
    display: flex;
    flex-direction: row;
    flex:1;
}
.row4{
    display: flex;
    justify-content: center;
}
.cc1,.cc2,.cc3{
    display: flex;
    flex:1;
    justify-content: center;
}
.bt1,.bt11,.bt111
{
    flex:1;
    height: 200px;
    margin-top: 117px;

}
.bottom{
    display: flex;
    flex-direction: row;
    

}
.bt11{
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 420px;

}
.bt2,.bt3
{
    flex:1;
    margin-top: 10px;

}
.left,.right{
    margin-top: -113px;
    width: 15%;
    height: 977px;
    background-color:blanchedalmond ;
}
.bt1left,.bt111right{
    width: 15.5%;
}
#img_id{
    justify-self: center;
    
}
/* #ob1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: bisque;
    padding: 10px;
    width: 100%;                
    max-width: 100%;            
    box-sizing: border-box;     
} */

.pd-5{
    padding: 6px;
    margin-bottom: 3px;
    width: 120%;
    border: none;
}
.pd-5:hover{
    background-color: rgb(234, 223, 255) ;
   
}
#intoken{
    background-color:lightslategray;
}
#book{
    display :flex;
    flex-direction:column;
    margin-inline:20%;
    width: 300px;
    max-width: 300px;
}
#book input{
    padding: 5px;
}

.borrow-section{
    display: flex;
    justify-content: center;
    background-color: bisque;
}

.update{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: bisque;
    padding: 10px;
    width: 100%;                
    max-width: 100%;            
    box-sizing: border-box;  
}

/*--------------------update-----------------*/
.form-container {
    justify-content: center;
    background-color: rgb(209, 172, 243);
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    max-width: 60%;
    margin: auto;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 2px;
}


.submit-btn {
    margin-top: 20px;
    padding: 10px 20px;
    width: 50%;
    
    transition: background-color 0.3s;
}

.form-input{
    padding: 4px;
}
.img-book{
    width: 200px;
}
.user{
    height: 100%;
}

#img_id img {
    max-width: 100%;  /* Ensure the image scales within its container */
    height: auto;     /* Maintain aspect ratio */
}

