.full{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recpt{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(244, 248, 139);
    width: 500px;
    height: 500px;
    box-shadow: 10px 10px 10px 2px rgb(63, 58, 58) ;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
